h1 {
    text-align: center;
    margin-bottom: 5rem;
    color: #00b5ad
}

body {
    background-color: #DADADA;
}

body>.grid {
    height: 100%;
}

.image {
    margin-top: -100px;
}

.dashboard {
    margin-top: 5%;
    padding: 1rem;
    width: 100%;
    border: 1px solid #00b5ad;
}

footer {
    text-align: center;
    background-color: #00b5ad;
}

.logout {
    text-align: end;
    display: inline-block;
    margin-left: 85%;
}

.logout,
.sign-out {
    font-size: 25px;
}

.logout,
.sign-out:hover {
    color: #000000;
}

.shift {
    width: 400px;
    /* border: 1px solid #00b5ad;  */
    text-align: center;
    margin: 0 auto;
    display: block;
    background-color: #4caf50;
}

.shift h3 {
    color: white;
}

.username {
    font-size: 2rem;
    color: #4CAF50;
    display: inline-block;
    margin-right: 1rem;
}

span {
    font-size: 2rem;
    color: #00b5ad;
}

.column {
    max-width: 450px;
    
}

.topClear {
    margin-right: 4em;
}
.clearBtn {
    background-color: lightseagreen;
  
}

#shift {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#shiftdays {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    /* width: 160px; */
    float: left;
    text-align: center;
}

.moveDown {
    margin: 2rem;
}

.box {
    border: 1px solid #00b5ad;
    border-radius: 2px;
    min-height: 300px;
    padding: 4px;
    margin: 4rem;
}

#shiftdays li,
#shiftdays h6 {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: center;
}

#shiftdays li:hover {
    background-color: #ddd;
}

#shiftdays h6 {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: lightslategray;
    color: white;
}

.rows {
    width: 100%;
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 2px;
    width: 160px;
}

.green {
    background-color: #4caf50;
}

.blue {
    background-color: lightblue;
}

.orange {
    background-color: orange;
}

#weekdays {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#weekdays td,
#weekdays th {
    border: 1px solid #ddd;
    padding: 8px;
}

#weekdays tr:nth-child(even) {
    background-color: #f2f2f2;
}

#weekdays tr:hover {
    background-color: #ddd;
}

#weekdays th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #00b5ad;
    color: white;
}

@media only screen and (max-width: 960px) {
    #shiftdays {
        max-width: 200px;
    }
}


